<div class="agenda-container">
  <h1>Agenda</h1>

  <form class="agenda-form" (ngSubmit)="addCompromisso()">
    <div class="form-group">
      <label for="date">Data</label>
      <input type="date" id="date" class="form-control" [(ngModel)]="novoCompromisso.data" name="data" required />
    </div>
    <div class="form-group">
      <label for="time">Horário</label>
      <input type="time" id="time" class="form-control" [(ngModel)]="novoCompromisso.horario" name="horario" required />
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      <input type="text" id="description" class="form-control" [(ngModel)]="novoCompromisso.descricao" name="descricao" required />
    </div>
    <button type="submit" class="btn btn-success">Adicionar</button>
  </form>

  <table class="table table-dark mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Horário</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compromisso of compromissos">
        <td>{{ compromisso.id }}</td>
        <td>{{ compromisso.data }}</td>
        <td>{{ compromisso.horario }}</td>
        <td>{{ compromisso.descricao }}</td>
        <td>
          <span class="remove-icon" (click)="removeCompromisso(compromisso.id)">X</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
